<div class="container" [class.active]="modoCadastro">
  <div class="form-box">
    <h2>{{ modoCadastro ? 'Criar Conta' : 'Entrar' }}</h2>

    <!-- Formulário de Login -->
    <form *ngIf="!modoCadastro" (ngSubmit)="onLogin()">
      <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required />
      <input type="password" placeholder="Senha" [(ngModel)]="senha" name="senha" required />
      <button class="btn" type="submit">Login</button>
      <p class="toggle">
        Não tem conta?
        <span (click)="alternarModo()">Cadastrar</span>
      </p>
    </form>

    <!-- Formulário de Cadastro -->
    <form *ngIf="modoCadastro" (ngSubmit)="onCadastrar()">
      <input type="text" placeholder="Nome completo" [(ngModel)]="nome" name="nome" required />
      <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required />
      <input type="password" placeholder="Criar senha" [(ngModel)]="senha" name="senha" required />
      <button class="btn" type="submit">Cadastrar</button>
      <p class="toggle">
        Já possui conta?
        <span (click)="alternarModo()">Entrar</span>
      </p>
    </form>
  </div>

  <div class="img-box">
    <img src="sacola.jpg" alt="Sacola Eudora">
  </div>
</div>
